html, body {
  /*box-sizing: content-box;*/
  margin: 0;
  height: 100%;
  background-color: #FEF9F5;
  color: #1A0E03;
}

#container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  width: 100%;
  height: 100%;
  margin: 0;
}

#task_window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#project_name {
  margin: 10px;
  justify-self: flex-start;
  background-color: rgba(0, 0, 0, 10%);
  border: none;
  padding: 5px;
  border-radius: 5px;
}

#tasks { 
  width: 100%;
  height: 85vh;
  overflow: scroll;
}

.primary_button {
  background-color: #E47B31;
  border: none;
  font-size: 15px;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
}

.primary_button:hover {
  background-color: #cf702c;
}

.primary_button:active {
  background-color: #be6627;
}

.task {
  border-radius: 5px;
  padding: 5px;
  margin: 8px;
  background-color: #56E9A3;
  display: flex;
  justify-content: space-between;
}

.task input {
  display: block;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 10%);
  margin: 5px;
  padding: 5px;
}

.task textarea {
  resize: none;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 10%);
  margin: 5px;
  padding: 5px;
}

.task .delete {
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 100%;
  background-color: transparent;
}

.task .delete:hover {
  background-color: rgba(0, 0, 0, 10%);
}

.task .delete:active {
  background-color: rgba(0, 0, 0, 15%);
}

#task_window {
  grid-column: 1;
}

#project_window {
  grid-column: 2;
  background-color: #7EEE7C;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#projects {
  display: flex;
  flex-direction: column;
  height: 90vh;
  overflow: scroll;
}

.project {
  margin: 10px;
  margin-bottom: 0;
  padding: 8px;
  background-color: rgba(0, 0, 0, 10%);
  border: none;
  font-size: 15px;
  text-align: start;
}

.project:hover {
  background-color: rgba(0, 0, 0, 15%);
}

.project:active {
  background-color: rgba(0, 0, 0, 20%);
}